<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script> {% block head %} {% endblock %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <noscript>
        <style>
            #enable-js {
                margin: 0;
                padding: 12px 15px;
                background-color: #FFC107;
                color: #000;
                text-align: center;
                font-family: "Arial";
                font-size: 13px;
            }
        </style>
        <p id="enable-js">This site requires JavaScript.
            <a href="https://www.enable-javascript.com/">Instructions here.</a>
        </p>
    </noscript>
    <title>Flack</title>
    <!--container for the handlebars flash-->
    
</head>

<body>
    <!-- handlbars flash-->
    <div id="flashhere"></div>
    {% block body %} {% endblock %}
    <!--scripts for bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
        {% block javascript %}{% endblock %}
</body>

</html>