{% extends "orders/base.html" %}{% block head %}  {% endblock %} {% block body %}
<h1>Pizza</h1>
<ul>
    <li>Pizza Size: {{ pizzasex.size }}</li>
    <li>Crust: {{ pizzasex.crust }}</li>
    <li>Flavour: {{ pizzasex.owner.flavour }}</li>
    <li>Price: {{ pizzasex.owner.price }}</li>
    <li>
        Toppings:
        <ul>
            {% for topping in toppingsex %}
            <li>{{ topping }}</li>
            {% empty %}
            <li>No topping</li>
            {% endfor %}
        </ul>
    </li>
</ul>
<h2>Add a Pizza</h2>
<div id='theorder'>
    <form action="/addpizza" method="post">
        {% csrf_token %}
        <select multiple="multiple" id="id_toppings" name="topping">
            {% for t in topping %}
            <option value="{{ t.id }}">{{ t }}</option>
            {% endfor %}
        </select>
        <select name="crust" id="whichcrust">
            {% for c in crust %}
            <option value="{{ c.id }}">{{ c }}</option>
            {% endfor %}
        </select>
        <select name="size" id="whichsize">
            {% for s in size %}
            <option value="{{ s.id }}">{{ s }}</option>
            {% endfor %}
        </select>

        <select name="flavmodel" id="flavmodel"></select>


        <input type="submit" value="Add Pizza" />

        <p id="demo"></p>


        <div> {{ form }} </div>
    </form>
</div>
{% endblock %}